// main: ../style.less
.blog {
    background-color: #F5F8FF;
    padding-top: 6.5rem;
    padding-bottom: 13.31rem;
    border-bottom: 1px solid #D8E3FE;
}
.blog__content {
    padding: 3.93rem 2.5rem;
}
.blog__title {
    margin-bottom: 5.75rem;
}
.blog__slider-element {
    background-color: #fff;
    border: 1px solid #D8E3FE;
    border-radius: 2px;
}
.blog__text {
    font-size: 0.875rem;
    width: 100%;
    max-width: 25.5rem;
    margin-bottom: 2.214em;
}
.blog__head {
    font-size: 2.25rem;
    margin-bottom: 1.125em;
}
.blog__button {
    font-size: 0.8125rem;
    font-weight: 700;
    margin-right: 1.76em;
    &--last {
        color: #a6b6da;
        margin-right: 0;
        transition: color .2s linear;
        &:hover {
            text-decoration: none;
            color: #3a79ff;
        }
    }
}
.blog__img {
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}