// main: ../style.less
.quotes {
    background-color: #EAF0FF;
    padding: 6.8rem 0;
}
.quotes__title {
    font-size: 2.25rem;
    margin-bottom: 0.38em;
}
.quotes__text {
    line-height: 1.89;
    font-size: 0.75rem;
    width: 100%;
    max-width: 18.56rem;
}
.quotes__slide {
    background-color: #fff;
    border: 1px solid #D8E3FE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}
.quotes__rev {
    font-size: 0.875rem;
    width: 100%;
    max-width: 13.625rem;
    line-height: 1.71;
    padding-top: 2.5rem;
    padding-bottom: 3.31rem;
}
.quotes__img {
    position: absolute;
    bottom: -15%;
    left: 45%;
}