// main: ../style.less
.stats {
    display: -webkit-box;
    display: flex;
}
.stats__left {
    width: 50%;
    background-color: #6888FF;
    text-align: right;
}
.stats__content {
    margin-right: 5.625rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    &--right {
        margin-left: 5.625rem;
    }
    @media @phone {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
.stats__right {
    width: 50%;
    background-color: #E9EFFF;
}
.stats__title {
    font-weight: 400;
    color: #fff;
    font-size: 3rem;
    margin: 0.3em 0;
    &--right {
        color: #5e80ff;
    }
    @media @phone {
        font-size: 2rem;
    }
    @media @phone-sm {
        font-size: 1.5rem;
    }
}
.stats__text {
    font-size: 1.125rem;
    color: #fff;
    line-height: 1.3;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.03em;
    font-weight: 500;
    width: 100%;
    max-width:16.25rem;
    &--right {
        color: #5e80ff;
    }
    @media @phone {
        font-size: 0.9rem;
    }
    @media @phone-sm {
        font-size: 0.6rem;
    }
}
.stats__info {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
}