// main: style.less
@accent: #223B7F;
@white: #fff;
//media
@mobile: ~"(max-width: 767px)";
@mobile-sm: ~"(max-width: 565px)";
@tablet: ~"(max-width: 991px)";
@notebook: ~"(max-width: 1199px)";
