// main: ../style.less
.map {
    background: url("../img/map.png") no-repeat;
    background-size: cover;
}
.map__content {
    text-align: center;
    padding-top: 11.25rem;
    padding-bottom: 11.625rem;
}
.map__suptitle {
    font-size: 0.875rem;
    color: @white;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 2.285;
}
.map__title {
    color: @white;
    font-weight: 500;
    font-size: 3.75rem;
    letter-spacing: -0.04em;
    line-height: 1.2;
    margin-bottom: 0.6em;
}