// main: ../style.less
.about {
    margin-bottom: 100px;
    @media @phone {
        margin-bottom: 60px;
    }
    @media @phone {
        margin-bottom: 45px;
    }

}
.about__title {
    margin-bottom: 100px;
    font-size: 48px;
    @media @tablet {
        margin-bottom: 60px;
    }
    @media @phone {
        font-size: 36px;
    }
    @media @phone-sm {
        font-size: 28px;
        margin-bottom: 30px;
    }
}
.about__block {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
    @media @tablet {
        margin-bottom: 40px;
    }
    @media @phone {
        margin-bottom: 28px;
    }
}

.about__advantage {
    margin-bottom: 19px;
    display:flex;
    align-items: flex-end;
}
.about__name {
    font-size: 32px;
    font-weight: 500;
    color: @accent;
    margin-left: 20px;

    @media @phone {
        font-size: 28px;
    }
    @media @phone-sm {
        font-size: 24px;
    }

}

.about__num {
    font-size: 80px;
    text-decoration: underline;
    color: @accent;
    @media @phone {
        font-size: 64px;
    }
    @media @phone-sm {
        font-size: 42px;
    }
}

.about__text {
    font-size: 20px;
    font-weight: 300;
    color: @accent;

    @media @phone {
        font-size: 16px;
    }
    @media @phone-sm {
        font-size: 12px;
    }
}

.about__button {
    text-align: center;
    margin-top: 100px;

    @media @phone {
        margin-top: 50px;
    }
}



